<h1>MR Beer</h1>

<div>
  Diario
  <ul>
    <li><%= link_to 'Pizzara Ventas', selling_dashboard_products_path %></li>
    <li><%= link_to 'Gastos', '' %></li>
  </ul>

  Reports
  <ul>
    <li><%= link_to 'Transactions', transactions_path %></li>
  </ul>

  Admin
  <ul>
    <li><%= link_to 'Proveedores', providers_path %></li>
    <li><%= link_to 'Categorias', categories_path %></li>
    <li><%= link_to 'Productos', products_path %></li>
  </ul>
</div>
