<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<h1>Products</h1>

<table id="products" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td style="display:none;" class="id"><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category.name %></td>
        <td>
          <%= link_to "Sell 1/2", sell_product_path(id: product.id , quantity: 0.5), method: :post, class: "btn btn-primary" if product.beer?%>
          <%= link_to "Sell 1", sell_product_path(id: product.id , quantity: 1), method: :post, class: "btn btn-primary" %>
          <%= link_to "Sell 2", sell_product_path(id: product.id , quantity: 2), method: :post, class: "btn btn-primary" if product.beer?%>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>

<script>
$( document ).ready(function() {
  formatTable('products', 'product_modal', 'products', '', false);
});

</script>
